label{

    display: inline-block;
    width: 120px;
    margin-bottom: 20px;
    padding-left: 450px;
    margin-top: 20px;
    font-weight: 900;
}

h1{
    text-align: center;
}
*{
    color: azure;
}
button{
    background-color: rgb(80, 156, 213);
   margin-left: 450px;

}
.gender{
    padding-left: 0px;
 
}
.wfo{
    padding: 0 !important;
}