.parent{
    height: 100vh;
    width: 100vw;
    display: flex;
   

}
.left{
    
    width: 20%;
    height: 100%;
    overflow: auto;
    background-color: aquamarine;
    border-radius: 10px;
}
.right{
   width:80%;
   height: 100%;
    background-image: url("https://img.freepik.com/free-vector/background-realistic-abstract-technology-particle_23-2148431735.jpg?w=900&t=st=1702289268~exp=1702289868~hmac=58190c8429c605ef352ea675c43a6b59d35c7cce99c5456332ef51f431279f7d");
    background-size: cover;
    overflow: auto;
    
}
.dashboard{
    padding-top: 20px;
}
h1{
    padding-left: 20px;
}
h1:hover{
    background-color: aliceblue;
    cursor: pointer;
    border-radius: 10px;
}
hr{

    color: black;
}
button{
   margin-left: 100px;
}