<!-- <p>home works!</p> -->

<h1>Join us to
    build the future
    of the internet</h1>
<h3>We're building the world's most trusted public town square—and we pride ourselves on our commitment to protecting
    free speech within the boundaries of the law.

    Beyond that
</h3>
<h3>we aim to increase unregretted user minutes on our platform, and make it the best place on the internet for creators
    to share content and make money.</h3>

<h3>Join us to have real impact on what is bound to evolve into the ultimate everything app.</h3>


<h1>Security and privacy</h1>

<h3>We’re committed to protecting the information you share with us.</h3>

<h3>Our commitment to serve the public conversation is also a commitment to protect the information you share with us and to provide meaningful privacy controls. Transparency matters to us — so we want you to know what data we collect, how we use it, when we share it, and what we do to protect it.</h3>

<h1>Tap into what’s happening to build what’s next</h1>

<h3>Get immediate access to the X API and unlock the potential of the X data</h3>
<p>
    Twitter is a popular social media platform that enables users to send and read short 280-character messages called "tweets." It was created in 2006 by Jack Dorsey, Biz Stone, and Evan Williams and has since become a significant part of online communication and social networking.</p>
    <p>The platform allows users to follow other accounts to see their tweets in their timeline. It's widely used by individuals, businesses, celebrities, politicians, and more to share thoughts, news, updates, and engage in conversations. Twitter also supports various media types like images, videos, and GIFs in tweets.</p>
    <p>Twitter has been used for various purposes, including sharing news in real-time, marketing, customer service, political discussions, networking, and personal expression. Its brevity and immediacy make it a powerful tool for communication, information dissemination, and engagement.</p>